table{
  border-collapse: collapse;
  border: 2px solid black;
}
td,th{
  border: 1px solid black;
}
caption{
  color: rgb(255, 95, 122);
  font-weight: bold;
}

.text-center{
  text-align: center;

}
thead{
  border: 2px;
}
.foot{
  border: 2px solid black;
}